# Python
__pycache__/
*.pyc
.pycache_check/
.pytest_cache/
.venv/
venv/

# Flask
instance/
.env
flask_stdout.log
flask_stderr.log

# Local build folders
.next/
node_modules/

# OS / editor
.DS_Store
Thumbs.db
